<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../../assets/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="wrapper">
    <div>
        <ul class="forumList">
            <li>
                <div class="forumHead">
                    <span>Datum</span>
                </div>
                <div class="forumComment">
                    <div class="forumProfile">
                        <a href="#">Autor-ime</a>
                        <img src="../../../assets/img/img2.jpg" />
                    </div>
                    <div class="forumRight">
                        <h2>Naslov</h2>
                        <p>Sadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusijeSadrzaj diskusije</p>
                    </div>
                </div>
                <div class="forumBot">

                </div>
            </li>
        </ul>
    </div>
</div>

</body>
</html>